
*{box-sizing: border-box;
    transition-duration: 0.0003s;
    margin:0;
    padding:0;
    }
.cuby {
    background-color:rgb(5, 73, 5);
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    font-size: 7rem;
    text-align: center;
  }
  main{
    width: 900px;
    height: 700px;
    border: 2px solid rgb(82, 2, 2);
    margin: 20px 20px;
    position: relative;

  }